
<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Points earned</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.useremail %>/td>
    <td><%= user.points_earned %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
